.boton_navegacion {
  position: relative;
}

.boton_navegacion::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 15%;
  left: -100%;
  bottom: -10%;
  background-color: transparent;
  z-index: -1;
}

.boton_navegacion:hover::before {
  left: -11%;
  transition: all 0.3s;
  background-color: #f97316;
}

.resaltar {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 120%;
    height: 15%;
    left: -11%;
    bottom: -10%;
    background-color: #f97316;
    z-index: -1;
  }
}
